
body
{

	background-color: #ecf0f3;
	}
.conainer{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calculator{
	background-size: cover;
	background-color: #ecf0f3;
	padding: 20px;
	border-radius: 30px;
	box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0, .16);
    display: grid;
    grid-template-columns: repeat(4, 70px);

}
.calculator input
{
	grid-column: span 4;
	height: 70px;
	width: 260px;
	background-color: #ecf0f3;
	box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0, .16);
    border: none;
   border-radius: 30px;
	font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 20px;
}		
.calculator button
{
	width: 50px;
	height: 50px;
	background-color: #ecf0f3;
	box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0, .16);
    border: none;
    border-radius: 40px;
    margin: 8px;
    font-size: 20px;
}
.equal button
{
width: 150%;
border-radius: 100px;
padding: 10px;
font-size: 25px;
text-align: center;

}